In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(
    {
        "Name": [
            "Braund, Mr. Owen Harris",
            "Allen, Mr. William Henry",
            "Bonnell, Miss. Elizabeth",
        ],
        "Age": [22, 35, 58],
        "Sex": ["male", "male", "female"],
    }
)

In [ ]:
# get column in data
df["Age"]
# create column
ages = pd.Series([22, 35, 58], name="Age")

In [ ]:
# get infomation of column
df["Age"].describe()

count     3.000000
mean     38.333333
std      18.230012
min      22.000000
25%      28.500000
50%      35.000000
75%      46.500000
max      58.000000
Name: Age, dtype: float64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Name    3 non-null      object
 1   Age     3 non-null      int64
 2   Sex     3 non-null      object
dtypes: int64(1), object(2)
memory usage: 200.0+ bytes

In [ ]:
df.head(2)

                       Name  Age   Sex
0   Braund, Mr. Owen Harris   22  male
1  Allen, Mr. William Henry   35  male

In [ ]:
df.tail(2)

                       Name  Age     Sex
1  Allen, Mr. William Henry   35    male
2  Bonnell, Miss. Elizabeth   58  female

In [ ]:
df[df["Age"]<36]

                       Name  Age   Sex
0   Braund, Mr. Owen Harris   22  male
1  Allen, Mr. William Henry   35  male

In [ ]:
df.loc[df["Age"]<36,"Sex"]

0    male
1    male
Name: Sex, dtype: object

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
# https://github.com/pandas-dev/pandas/blob/main/doc/data/air_quality_no2.csv
adde="https://github.com/pandas-dev/pandas/blob/main/doc/data/air_quality_no2.csv"
air_quality = pd.read_csv(adde, index_col=0, parse_dates=True)

ParserError: ignored

In [ ]:
df["Age*2"]=df["Age"]*2

In [ ]:
df

                       Name  Age     Sex  Age*2
0   Braund, Mr. Owen Harris   22    male     44
1  Allen, Mr. William Henry   35    male     70
2  Bonnell, Miss. Elizabeth   58  female    116

In [ ]:
df.agg({"Age":["max"]})

     Age
max   58

In [ ]:
df[["Age","Sex"]].groupby("Sex").mean()
df[["Age","Sex"]].groupby(["Sex","Age"]).mean()

Empty DataFrame
Columns: []
Index: [(female, 58), (male, 22), (male, 35)]

In [ ]:
df["Sex_short"]=df["Sex"].replace({"male":"M","female":"F"})

In [ ]:
df

                       Name  Age     Sex  Age*2 Sex_short
0   Braund, Mr. Owen Harris   22    male     44         M
1  Allen, Mr. William Henry   35    male     70         M
2  Bonnell, Miss. Elizabeth   58  female    116         F

In [ ]:
df["Sex_short2"]=df["Sex"].replace("male","M")
df

                       Name  Age     Sex  Age*2 Sex_short Sex_short2
0   Braund, Mr. Owen Harris   22    male     44         M          M
1  Allen, Mr. William Henry   35    male     70         M          M
2  Bonnell, Miss. Elizabeth   58  female    116         F     female

In [ ]:
df["Sex_short2"]=df["Sex_short2"].replace("female","F")
df

                       Name  Age     Sex  Age*2 Sex_short Sex_short2
0   Braund, Mr. Owen Harris   22    male     44         M          M
1  Allen, Mr. William Henry   35    male     70         M          M
2  Bonnell, Miss. Elizabeth   58  female    116         F          F

In [3]:
import re

s = "3244 (_sex male) (_age senior) (_race white) (_face serious) (_prop '(moustache beard ))"
result = re.sub(r"((_sex (.?) )) ((_age (.?) )) ((_race (.?) )) ((_face (.?) )) ((_prop '(.*?)' ))", r'\2,\4,\6,\8,\10,', s)
result = result.strip(',')  # 去掉最后一个逗号
print(result)

3244 (_sex male) (_age senior) (_race white) (_face serious) (_prop '(moustache beard ))

In [5]:
# GPT4
# import re

input_string = "3244 (_sex male) (_age senior) (_race white) (_face serious) (_prop '(moustache beard ))"
pattern = r"\(_\w+ '(.*?) ?\)|\(_\w+ (.*?) ?\)"
replacement = r"\1\2,"

output_string = re.sub(pattern, replacement, input_string).rstrip(',')
print(output_string)

In [8]:
# import re

string = "3244 (_sex male) (_age senior) (_race white) (_face serious) (_prop '(moustache beard ))"
pattern = r"\s*\(_\w+\s+([^)]+)\)"
replacement = r",\1"
result = re.sub(pattern, replacement, string)
result = result.replace("'", "")
result = result.replace("(", "")
result = result.replace(")", "")
print(result)

3244,male,senior,white,serious,moustache beard